:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html, body, #root {
    height: 100vh;
}

body {
    background: grey;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

#root {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: black;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}
